<!--Saved Articles Page-->

<div class="container">
    <div class="pageTitle">Saved Articles</div>
    <div class="col-md-12">
        {{#if article}} {{#each article}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><b>{{this.title}}</b></h4>
            </div>
            <div class="panel-body">
                <p> {{this.summary}}</p>
                <span>Article link:
                    <i><a href={{this.link}} target="_blank">{{this.link}}</a></i></span>
                <br><br>
                <button type="button" class="btn btn-default addNote" id="noteBtn" data-toggle="modal" data-target="#noteModal{{this._id}}"
                    data-id={{this._id}}>Comment</button>
                <button type="button" class="btn btn-danger delete" id="deleteBtn" data-id={{this._id}}>Delete</button>
            </div>
        </div>
        {{/each}} {{else}}
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <h4>You have no saved articles.</h4>
            </div>
        </div>
        {{/if}}
    </div>
</div>

<!--Comments Modal-->
{{#each article}} {{> notes-modal }} {{/each}}